/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* DEBUG */
.debug header{
    background-color: orange;
}
.debug .left-nav , .debug .right-nav{
    background-color: brown;
    height: 80px;
}
.debug .nav div{
    background-color: aqua;
    border: 2px dashed black;
}
.debug .hero{
    background-color: chocolate;
    height: 735px;
    
}
.debug .row{
    background-color: darkgreen;
}
.debug .row .col-1 , .debug .row .col-2{
    background-color: darkmagenta;
    border: 1px dashed black;
}
    
/* COMMON */
.container-big{
    max-width: 1200px;
    margin: auto;
}
.container-small{
    max-width:1000px;
}
.row{
    display: flex;
}
.col-1{
    
    width: 30%;
}
.col-2{
    width: 70%;
}
.col-1 .btn{
    padding: 30px 0;
}
.arrow{
    padding-top:70px ;
}
img{
    width: 100%;
}
.col-1{
    
}
/* BUTTON */

/* TYPOGRAPHY */
body{
    font-family: 'Open Sans', sans-serif;

}
/* HEADER */
.header-top{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
}
.nav{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* MAIN */

/* FOOTER */
