/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* DEBUG */
.debug header{
    background-color: orange;
}
.debug .left-nav , .debug .right-nav{
    background-color: brown;
    height: 80px;
}
.debug .nav div{
    background-color: aqua;
    border: 2px dashed black;
}
.debug .hero{
    background-color: #b4d0e7;
    height: 735px;
    
}
.debug .row{
    background-color: darkgreen;
}
.debug .row .col-1 , .debug .row .col-2{
    background-color: darkmagenta;
    border: 1px dashed black;
}
.debug .col-3 , .debug .col-4 , .debug .col-5{
    background-color: chartreuse;
    height: 900px;
    border: 1px dashed black;
}

.debug .col{
    background-color: darkslateblue;
    width: calc(100% / 3 - 20px);
    margin: 10px;
}

/* COMMON */
.container-big{
    max-width: 1200px;
    margin: 0 auto;
}
.container-small{
    max-width:1000px;
    padding-top: 150px;
    
    margin: auto;
}
.container-small:nth-last-child(1){
    padding-bottom: 150px;
}
.row{
    display: flex;
}
.list-inline{
    display: flex;
    list-style: none;
}
.list-style-none{
    list-style: none;
}
li a{
    text-decoration: none;
    color: inherit;
}
    
.col-1{
    
    width: 30%;
}
.col-2{
    width: 70%;
}


.arrow{
    margin-top:70px ;
    font-size: 40px;
    
}
img{
    width: 100%;
}

/* BUTTON */
.btn{
    text-decoration: none;
}

.btn-primary {
    background-color:#0061ff ;
    color: white;
}

.btn-secondary{
    background-color: white;
    color: black;
    border: 1px solid black;
}   
    
.btn-small{
    padding: 5px 10px;
    font-size: 13px;
}
.btn-big{
    padding: 15px;
}

    
/* TYPOGRAPHY */
body{
    font-family: 'Open Sans', sans-serif;
}

h1{
    
    font-size: 70px;
    font-weight: 900;
}
h2{
    font-size: 30px;
    font-weight: 800;
} 

/* HEADER */
.header-top{
    background-color: white;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 99;
    box-shadow: 0px 0px 5px 2px rgb(0 0 0 / 20%);
}
.nav{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.left-nav .nav .list-inline li{
    margin: 0 40px 0 20px;
}
.right-nav .nav .list-inline li{
    margin: 0 20px 0 40px;
}
.hero{
    
    background-color: #b4d0e7;
    height: 735px;
    
}
.hero .container-big{
    position: relative;
    bottom: -105px;
}
.container-big h1{
    margin-bottom: 45px;
}
.col-1 a{
    display: inline-block;
    margin: 35px 0;
}

/* MAIN */
.radio{
    display: inline-block;
    margin-left: 40px;
}
.row-2{
    display: flex;
    justify-content: space-between;
    margin-top:50px ;
    flex-wrap: wrap;
}
.col-3 , .col-4 , .col-5{
    width: 30%;
    text-align: center;
    border: 1px solid #d0d0d3;
}

.container-small h2{
    margin-bottom:70px ;
}
.col-3 h5 , .col-4 h5 , .col-5 h5{
    padding: 10px;
    margin-bottom: 40px;
    border-bottom: 1px solid #d0d0d3;
}
.col-content{
    text-align: left;
    margin: 25px;
}
.col-content small{
    display: block;
}
.col-content ul li{
    display: flex;
    list-style: none;
    margin-bottom: 15px;
}
.col-content ul li i{
    margin-right: 5px;
    
}

.col-content a{
    display: inline-block;
    margin: 40px 0 30px;
}
.col-content .check-list li i{
    color: #0061ff;
}
.col-content hr{
    width: 20%;
    
}
.col-content h6{
    font-weight: bold;
    font-size: 16px;
    margin-bottom:35px ;
}
small.price{
    margin-top: 20px ;
    font-weight: bold;
}
small.price-info{
    color: grey;
    margin: 15px 0 50px;
    
}
small.price-info hr{
    width: 10%;
    
}
.orizzontal-box{
    
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.orizzontal{
    border: 1px solid #d0d0d3;
    margin-top: 50px;
    
}
.orizzontal h5{
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #d0d0d3;
}
.col-6{
    width:60%;
}
.col-6 p{
    margin-top:55px ;
}

.col-7{
    
    width:40%;
}
.orizzontal-box .col-7 a{
    display: inline-block;
    margin-top: 13px;
    margin-left: 150px;
}
.row .col-7{
    margin: 50px;
}
.row .col-7 h3  {
    margin-bottom: 20px;
}
.row .col-7 a{
    margin-top: 90px;
    display: inline-block;
    
}
.col{
    width: calc(100% / 3 - 40px);
    margin: 20px;
}
.row-2 .col h5{
    font-size: 20px;
    margin-bottom: 20px;
}
.partner-space{
    margin-top: 150px;
}
.partner-col{
    width: 30vw;
    height: 30vw;
   
    display: flex;
    flex-wrap: wrap;
}
.partner-col.center{
    width: calc(100% - 60vw);
    padding:30px ;
    overflow-y: auto;
    flex-direction: column;
    background-color: #f5f5f5;
    
    
}
.partner-col.center img{
    width: 50%;
}
.partner-col.center hr{
    display: inline-block;
    margin: 50px 0;
    width: 10%;
    
}
.partner img{
    filter: invert(1);
    
    width: 50%;

}
.green-box{
    box-shadow:  0 0 0 10px #d1e9cd inset ;
    background:#a2d39b ;
}

.bordeaux-box{
    background: #61082b;
}
.blue-box{
    background: #0093ce;
}
.red-box{
    background: #ff1c1c;
}
.dark-red-box{
    background:#d5001f;
}
.light-box{
    background:#b4d0e7;
}
.dark-blue-box{
    background:#0d2481;
}
.yellow-box{
    background:#ffd830 ;
}
.partner{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 50%;
}
.bordeaux-text{
    color:#61082b;
    text-align: center;
    margin-top: 145px;
}   
.hero-2{
    background-color: #b4d0e7;
    height: 360px;
}
.faq{
    padding:45px 0;
    border-top: 1px solid #999999;
    
}
.faq:nth-last-child(1){
    border-bottom: 1px solid #999999;
}
.faq h4{
    display: inline-block
}

.faq span{
    
    padding-left: 280px;
}
/* FOOTER */
footer{
    background-color: black;
    
}
footer .container-big{
    padding-top: 110px;
}
.row-footer{
    display: flex;
    justify-content: space-between;
}
.footer-list {
    color: white;
    
}
.footer-list h3{
    font-size: 21px;
}

.footer-list ul li {
    
    margin: 15px 0;
}
footer .ita{
    color:#999999;
    padding-top: 50px;
    margin-top: 100px;
    width: 120px;
    border-top: 1px solid white;

}
.ita i{
   margin-left: 3px;
   margin-right: 5px;
}